#recovery-page {
    position: absolute;
    width: 100%;
    height:100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


#main-accountpanel-content {
    position: relative;
    margin: auto;
    padding: 5px 5px 5px 5px;
    width: 400px;
    height: 100%;
}

#main-accountpanel-form {
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #888888;
    display: block;
    width:100%;
}

.accountpanel-form {
    position: relative;
    display: block;
    text-align: center;
    padding: 5% 5% 5% 5%;
    margin: 1% 1% 1% 1%;
    margin-top: 5px;
    height:70%
}
