#home-page {
    height: 100%;
    margin: 0px 0px 0px 0px;
    min-width: 1280px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* HEADER */
#home-header-container {
    background-color: #6b6b6b;
    border-bottom-style: solid;
    border-bottom-color: #444444;
    border-bottom-width: 1px;
    display: block;
    height: 40px;
    position: relative;
    width: 100%;
}

#header-logo {
    position: relative;
    display: inline-block;
    background: url("../img/login_logo.png") no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    overflow: hidden;
    max-height: 100%;
    width: 5%;
}

#home-top-submenu-container {
    position: relative;
    display: inline-block;
    width: 89%;
    height: 100%;
}

#home-top-submenu-list {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#home-top-submenu-list li {
    display: inline-block;
    height: 100%;
}

#top-right-content-container {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 5%;
    float: right;
}

.top-submenu-button {
    align-items: center;
    border: 0;
    background-color: #6b6b6b;
    color: #DDDDDD;
    display:inline-block;
    float: left;
    height: 100%;
    justify-content: center;
    margin:auto;
    text-align: center;
    vertical-align: middle;
    width: auto;
}

.top-submenu-button:hover {
    background-color: #888888;
}

.top-submenu-item {
    align-items: center;
    color: #FFFFFF;
    display:inline-block;
    float: right;
    height: 100%;
    justify-content: center;
    text-align: center;
    margin:auto;
    vertical-align: middle;
    width: 100%;
}

/* CONTENT */
#home-content-container {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}

/* LEFT SUBMENU */
#home-left-submenu-container {
    display: table-cell;
    background-color: #DDDDDD;
    border-right-style: solid;
    border-right-color: #888888;
    border-right-width: 1px;
    float: left;
    height: 100%;
    position: relative;
    width: 250px;
}

#home-left-submenu-list {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%
}

.left-submenu-button {
    align-items: center;
    border: 0px;
    background-color: #DDDDDD;
    color: #444444;
    display:block;
    min-height: 50px;
    height: auto;
    justify-content: center;
    padding: 0;
    text-align: center;
    margin:auto;
    vertical-align: middle;
    width: 100%;
}

.left-submenu-button:hover {
    background-color: #BBBBBB;
}

/* CONTENT CONTAINER */
#home-page-content-container {
    display: table-cell;
    height: 100%;
    width: 100%;
    position: relative;
}

/* DROPDOWN */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 100%;
    float:right;
    text-align: center;
}

.dropdown span {
    line-height: 35px;
}

.dropdown:hover {
    background-color: #BBBBBB;
}

.dropdown:hover span {
    color: #6b6b6b;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown Trigger */
.droptrigger {
    color: white;
    font-size: 16px;
    border: none;
    margin: auto;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    right: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
