* {
    font-family: Arial;
}

body {
    background-color: white;
    background-size: 100%;
}

/*
ID SECTION
*/
#small-form-content {
    position:relative;
    margin:auto;
    min-height:360;
    margin-top: 5%;
    padding: 2% 2% 2% 2%;
}

/*
BOOTSTRAP SECTION
*/
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    padding: 10px;
    position: absolute;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

/*
CUSTOM DEFINED
*/
.ubb-logo {
    position: relative;
    background: url("../img/login_logo.png") no-repeat;
    background-position: center;
    background-size: 25%;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    text-indent: -999em;
    overflow: hidden;
    height: 95px;
    max-height: 100%;
}
